<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--底部菜单栏-->
<div class="foot" style="background-color: lightpink" id="menu_div">
    <div class="col-xs-4" onclick="location.href='/'">
        <span class="glyphicon glyphicon-home"></span>
        <p>首页</p>
    </div>
    <div class="col-xs-4" onclick="location.href='/cart/selectUI'">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <p>选号</p>
    </div>
    <div class="col-xs-4" onclick="location.href='/user/mine'">
        <span class="glyphicon glyphicon-user"></span>
        <p>我</p>
    </div>
</div>

</body>
</html>